<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broker home page</title>
</head>
<body>
<div>
    <h3>Captial</h3>
    <span id="capital" th:text="${'Current capital is:' + broker.capital}"></span>
    <br>
</div>
<div>
    <h3>Available company stocks</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Size</th>
            <th>Price</th>
            <th>Company name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="iorder : ${availCompStocks}">
            <td th:text="${{iorder.id}}">0</td>
            <td th:text="${{iorder.type}}">0</td>
            <td th:text="${{iorder.size}}">0</td>
            <td th:text="${{iorder.minPrice}}">0</td>
            <td th:text="${{iorder.company.name}}">0</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Buy company stocks</h3>
    <form action="#" th:action="@{/broker/lk/__${broker.id}__/buy-company-stocks}" th:object="${broker}" method="post">
        <label for="id">Order id</label>
        <input type="text" th:field="${orderCompany.id}" id="id" placeholder="id">
        <label for="size">Amount</label>
        <input type="text" th:field="${orderCompany.size}" id="size" placeholder="size">
        <button type="submit">Buy</button>
</div>
</body>
</html>