<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broker home page</title>
</head>
<body>
<div>
    <h3>Captial</h3>
    <span id="capital" th:text="${'Current capital is:' + broker.capital}"></span>
    <br>
</div>
<div>
    <h3>Available company stocks</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Size</th>
            <th>Price</th>
            <th>Company name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="iorder : ${availCompStocks}">
            <td th:text="${{iorder.id}}">0</td>
            <td th:text="${{iorder.size}}">0</td>
            <td th:text="${{iorder.minPrice}}">0</td>
            <td th:text="${{iorder.company.name}}">0</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Buy company stocks</h3>
    <form action="#" th:action="@{/broker/lk/__${broker.id}__/buy-company-stocks}" th:object="${broker}" method="post">
        <label for="id">Order id</label>
        <input type="text" th:field="${orderCompany.id}" id="id" placeholder="id">
        <label for="size">Amount</label>
        <input type="text" th:field="${orderCompany.size}" id="size" placeholder="size">
        <button type="submit">Buy</button>
    </form>
</div>
<div>
    <h3>Owned stocks</h3>
    <table>
        <thead>
        <tr>
            <th>Company name</th>
            <th>Stock type</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stock : ${ownedStocks}">
            <td th:text="${{stock.company.name}}">0</td>
            <td th:text="${{stock.type}}">0</td>
            <td th:text="${{stock.amount}}">0</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Pending clients orders</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Size</th>
            <th>minPrice</th>
            <th>maxPrice</th>
            <th>Company name</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="corder : ${clientsOrders}">
            <td th:text="${{corder.id}}">0</td>
            <td th:text="${{corder.type}}">0</td>
            <td th:text="${{corder.size}}">0</td>
            <td th:text="${{corder.minPrice}}">0</td>
            <td th:text="${{corder.maxPrice}}">0</td>
            <td th:text="${{corder.company.name}}">0</td>
            <td th:text="${{corder.timestamp}}">0</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Manage clients orders</h3>
    <form action="#" th:action="@{/broker/lk/__${broker.id}__/manage-client-orders}" th:object="${broker}" method="post">
        <label for="idd">Order id</label>
        <input type="text" name="orderId" id="idd" placeholder="id">
        <label for="amount">Amount</label>
        <input type="text" name="size" id="amount" placeholder="size">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" placeholder="sum">
        <input type="submit" name="buy" value="Buy orders">
        <input type="submit" name="sell" value="Sell orders">
    </form>
    <form action="#" th:action="@{/broker/lk/__${broker.id}__/publish-client-orders}" th:object="${broker}" method="post">
        <label for="idd">Order id</label>
        <input type="text" name="orderId" id="idd" placeholder="id">
        <button type="submit">Publish</button>
    </form>

</div>
</body>
</html>