<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new broker</title>
</head>
<body>
<h1>Hello, new broker!</h1>
<form action="#" th:action="@{/broker/add-broker}" th:object="${broker}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="fee">Fee</label>
    <input type="text" th:field="*{fee}" id="fee" placeholder="sum">
    <label for="capital">Capital</label>
    <input type="text" th:field="*{capital}" id="capital" placeholder="sum">
    <button type="submit">Create</button>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    <p th:if="${#fields.hasErrors('fee')}" th:errors="*{fee}">Fee Error</p>
    <p th:if="${#fields.hasErrors('capital')}" th:errors="*{capital}">Capital Error</p>
</form>
</body>
</html>