<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home user page</title>
</head>
<body>
<div>
    <h3>Captial</h3>
<form action="#" th:action="@{/user/lk/__${Individual.id}__/add-money}" th:object="${Individual}" method="post">
    <span id="capital" th:text="${'Current capital is:' + Individual.capital}"></span>
    <br>
    <label for="sum">Add money</label>
    <input type="text" th:field="*{capital}" id="sum" placeholder="sum">
    <button type="submit">Submit</button>
</form>
</div>
<h3>List of available stocks</h3>
<table>
    <thead>
    <tr>
        <th>Company name</th>
        <th>Stock type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stocks}">
        <td th:text="${{stock.company.name}}">0</td>
        <td th:text="${{stock.type}}">0</td>
    </tr>
    </tbody>
</table>
<h3>List of owned stocks</h3>
<table>
    <thead>
    <tr>
        <th>Company name</th>
        <th>Stock type</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${ownedStocks}">
        <td th:text="${{stock.company.name}}">0</td>
        <td th:text="${{stock.type}}">0</td>
        <td th:text="${{stock.amount}}">0</td>
    </tr>
    </tbody>
</table>
<div>
    <h3>Create an order</h3>
    <form action="#" th:action="@{/user/lk/__${individual.id}__/create-order}" th:object="${individual}" method="post">
        <label for="size">Order size</label>
        <input type="text" th:field="${order.size}" id="size" placeholder="size">
        <label for="minPrice">Minimal price</label>
        <input type="text" th:field="${order.minPrice}" id="minPrice" placeholder="sum">
        <label for="maxPrice">Maximal price</label>
        <input type="text" th:field="${order.maxPrice}" id="maxPrice" placeholder="sum">
        <select th:field="*{id}" class="form-control" id="company" name="company">
            <option
                    th:each="company: ${companies}"
                    th:value="${company.id}"
                    th:text="${company.name}">
            </option>
        </select>
        <input type="submit" name="buy" value="Create Buy order">
        <input type="submit" name="sell" value="Create Sell order">
    </form>
</div>
<div>
    <h3>List of current orders</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Size</th>
            <th>minPrice</th>
            <th>maxPrice</th>
            <th>Company name</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="iorder : ${ownedOrders}">
            <td th:text="${{iorder.id}}">0</td>
            <td th:text="${{iorder.type}}">0</td>
            <td th:text="${{iorder.size}}">0</td>
            <td th:text="${{iorder.minPrice}}">0</td>
            <td th:text="${{iorder.maxPrice}}">0</td>
            <td th:text="${{iorder.company.name}}">0</td>
            <td th:text="${{iorder.timestamp}}">0</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Orders to delete</h3>
    <form action="#" th:action="@{/user/lk/__${Individual.id}__/delete-order}" th:object="${Individual}" method="post">
        <label for="id">Order id to delete</label>
        <input type="text" th:field="${order.id}" id="id" placeholder="id">
        <button type="submit">Delete</button>
    </form>
</div>
<div>
    <h3>Account management</h3>
    <form action="#" th:action="@{/user/lk/__${Individual.id}__/delete-account}" th:object="${Individual}" method="post">
        <button type="submit">Delete account</button>
    </form>
</div>
</body>
</html>